@media all and (max-width: 992px) {
  .sidebar-nav {
    display: none;
  }
  #page-wrapper .slider-wrapper {
    height: 486px;
  }
  #page-wrapper .slider-wrapper .arrow {
    bottom: 53%;
  }
  .home .each-content .text-content {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home .each-content .img-content {
    width: 100%;
    height: auto;
  }
  .home .last-content .each-office {
    margin-bottom: 35px;
    width: 32%;
  }
  .case-study .content-1 {
    margin-top: 100px;
  }
  .case-study .content-1 .text-content {
    margin-right: 0px;
    margin-bottom: 50px;
    width: 100%;
  }
  .case-study .content-1 .img-content {
    width: 100%;
  }  
  .case-study .content-3 ul li {
    margin-right: 0px;
    margin-top: 40px;
    width: 100%;
  }
  .case-study .content-3 ul li .img-placeholder {
    width: 100%;
  }
  .clients .img-content ul li .v-align-table .v-align-table-cell {
    padding: 40px 0px 20px;
  }
  .clients .img-content ul li {
    width: 100%;
    height: auto;
  }
  div#footer-wrapper div.tweet {
    float: none!important;
  }
  div#footer-wrapper div.sharing {
    float: none!important;
    margin-top: 10px;
  }
  div#footer-wrapper div.sharing ul {
    float: right;
  }
}
@media all and (max-width: 768px) {
  .home .last-content .each-office {
    margin-right: 25px;
    width: 40%;
  }
}
