@media all and (max-width: 1200px) {
  .case-study .content-1 {
    margin-top: 100px;
  }
  .case-study .content-1 .text-content {
    margin-right: 0px;
    margin-bottom: 50px;
    width: 100%;
  }
  .case-study .content-1 .img-content {
    width: 71.72%;
    float: none;
  }
  .case-study .content-3 ul li {
    margin-top: 40px;
    margin-right: 14px;
  }
  .case-study .content-4 .text-content {
    margin-bottom: 40px;
  }
  div#mailing-list-wrapper div.left {
    padding-right: 33px;
  }
  div#mailing-list-wrapper div.middle {
    padding-left: 28px;
  }
  div#mailing-list-wrapper div.middle ul {
    width: 135px;
  }
  div#mailing-list-wrapper div.right {
    max-width: 346px;
    padding-left: 30px;
  }
}
@media all and (max-width: 992px) {
  .sidebar-nav {
    display: none;
  }
  #page-wrapper .slider-wrapper {
    height: 486px;
  }
  #page-wrapper .slider-wrapper .arrow {
    bottom: 53%;
  }
  #page-wrapper .carousel-indicators {
    display: none;
  }
  #page-wrapper .slider-wrapper div.item div.carousel-caption {
    width: 80%;
    top: 11%;
  }
  .home .each-content {
    height: auto;
    border-bottom: 1px solid #a4afc2;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home .each-content:last-child {
    border-bottom: 0px;
  }
  .home .each-content .text-content {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    float: none!important;
  }
  .home .each-content .img-content {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    float: none!important;
  }
  .case-study .content-1 {
    margin-top: 100px;
  }
  .case-study .content-1 .text-content {
    margin-right: 0px;
    margin-bottom: 50px;
    width: 100%;
  }
  .case-study .content-1 .img-content {
    width: 100%;
  }
  .case-study .content-3 ul li {
    vertical-align: top;
    margin-right: 8px;
  }
  .case-study .content-3 ul li .img-placeholder {
    height: 225px;
  }
  .case-study .content-3 ul li .caption-text h6 {
    line-height: 21px;
    margin-bottom: 24px;
    height: 30px;
    margin-top: 12px;
  }
  .case-study .content-4 .text-content {
    margin-bottom: 40px;
  }
  .clients .img-content ul li .v-align-table .v-align-table-cell {
    padding: 40px 0px 20px;
  }
  .clients .img-content ul li {
    width: 100%;
    height: auto;
  }
  div#mailing-list-wrapper div.left {
    padding-right: 33px;
  }
  div#mailing-list-wrapper div.middle {
    padding-left: 80px;
  }
  div#mailing-list-wrapper div.middle ul {
    width: 135px;
  }
  div#mailing-list-wrapper div.middle:after {
    display: none;
  }
  div#mailing-list-wrapper div.right {
    max-width: 346px;
    padding-left: 0px;
    padding-top: 35px;
  }
  #page-wrapper #footer-wrapper .tweet {
    float: none!important;
  }
  #page-wrapper #footer-wrapper .sharing {
    float: none!important;
    margin-top: 10px;
  }
  #page-wrapper #footer-wrapper .sharing ul {
    float: right;
  }
}
@media all and (max-width: 768px) {
  #page-wrapper .slider-wrapper .arrow {
    bottom: 56%;
  }
  #page-wrapper .slider-wrapper div.item div.carousel-caption {
    width: 80%;
    top: 17%;
  }
  .home .last-content .each-office {
    margin-right: 25px;
    width: 40%;
  }
  .case-study .content-3 ul li {
    margin-right: 0px;
    margin-top: 40px;
    width: 100%;
  }
  .case-study .content-3 ul li .img-placeholder {
    width: 100%;
  }
  .case-study .content-3 ul li .caption-text {
    padding-left: 0px;
  }
  .case-study .content-3 ul li .caption-text h6 {
    margin-bottom: 0px;
  }
  div#mailing-list-wrapper div.left {
    display: block;
  }
  div#mailing-list-wrapper div.left:after {
    display: none;
  }
  div#mailing-list-wrapper div.middle {
    display: block;
    padding-left: 0px;
    padding-top: 35px;
  }
  div#mailing-list-wrapper div.middle ul {
    width: 135px;
  }
  div#mailing-list-wrapper div.middle:after {
    display: none;
  }
  div#mailing-list-wrapper div.right {
    display: block;
    max-width: 346px;
    padding-left: 0px;
    padding-top: 35px;
  }
  div#mailing-list-wrapper div.right input[name="subscribe"] {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  #page-wrapper .slider-wrapper div.item div.carousel-caption {
    top: 13%;
  }
  #page-wrapper .slider-wrapper .arrow {
    bottom: 40%;
  }
}
@media all and (max-width: 400px) {
  #page-wrapper .slider-wrapper div.item div.carousel-caption {
    top: 13%;
  }
  #page-wrapper .slider-wrapper .arrow {
    display: none!important;
  }
}
