@import "color.less";

@media all and (max-width: 1200px) {	
	.home {
		.each-content {
			.text-content {
				.v-align-table {
					.v-align-table-cell {
						vertical-align: top;
						padding-top: 20px;
					}
				}
			}
		}
	}
	.case-study {
		.content-1 {
			margin-top: 100px;
			.text-content {
				margin-right: 0px;
				margin-bottom: 50px;
				// width: 100%;
			}
			.img-content {
				// width: 100%;  
				// float: none;
				.grid {
					img {
						// width: 100%;
					}
				}
				// .grid {
				// 	.grid-item {
				// 		margin-right: 11px;
				// 		&:last-child {
				// 			margin-right: 0px;
				// 		}
				// 	}
				// }
			}
		}
		.content-2 {
			.img-content {
				.grid-sizer-2,
				.grid-item-2 {
					width: 320px;
				}
				.grid-item-2--width4 { 
					width: 99%;
				}
				.grid-item-2--width3 { 
					width: 65.7%;
				}
				/////////////////
				/////////////////
				.grid-sizer-3,
				.grid-item-3 {
					width: 326px;
					img {
						width: 100%;
					}
				}
				.grid-item-3 {
					margin: 0 auto!important;
				}
				.grid-item-3--width4 { 
					width: 99%;
				}
				.grid-item-3--width3 { 
					// width: 100%;
				}
				.grid-item-3--width2 { 
					// width: 100%;
				}
			}
		}
		.content-3 {
			ul {
				li {
					// margin-right: 0px;
				    margin-top: 40px;
				    margin-right: 14px;
				    // width: 100%;				    
				}
			}
		}
		.content-4 {
			.text-content {
				margin-bottom: 40px;
			}
		}
	}
	div#mailing-list-wrapper {
		div.left {
			padding-right: 33px;
		}
		div.middle {
			padding-left: 28px;
			ul {
				width: 135px;
			}
		}
		div.right {
		    max-width: 346px;
			padding-left: 30px;
		}
	}
}

@media all and (max-width: 992px) {	
	.sidebar-nav {
		display: none;
	}
	#page-wrapper .slider-wrapper {
		height: 486px;
	}
	#page-wrapper .slider-wrapper .arrow {
		bottom: 53%;
	}
	#page-wrapper .carousel-indicators {
		display: none;
	}
	#page-wrapper .slider-wrapper div.item div.carousel-caption {
		width: 80%;
		top: 11%;
	}
	.home {
		.each-content {
			height: auto;
			border-bottom: 1px solid @light-grey; 
			padding-bottom: 20px;
			padding-top: 20px;
			&:last-child {
				border-bottom: 0px; 
			}
			.text-content {
				width: 100%;
			    height: auto;
			    // padding-top: 40px;
			    padding-bottom: 40px;
			    float: none!important;
			}
			.img-content {
				width: 100%;
			    height: auto;			
			    margin-bottom: 30px;
			    float: none!important;
			}
		}
	}

	.case-study {
		.content-1 {
			margin-top: 100px;
			.text-content {
				margin-right: 0px;
				margin-bottom: 50px;
				width: 100%;
			}
			.img-content {
				width: 100%; 
			}
		}
		.content-2 {
			.img-content {
				.grid-sizer-2,
				.grid-item-2 {
					// margin-right: 8px;
					// height: 260px;
					width: 49.3%;
				}
				.grid-item-2--width4 { 
					width: 100%;
				}
				.grid-item-2--width3 { 
					width: 100%;
				}

				
			}
		}
		.content-3 {
			ul {
				li {
					vertical-align: top;
					margin-right: 8px;
					.img-placeholder {
						height: 235px;
					}
					.caption-text {
						h6 {
							line-height: 21px;
						    margin-bottom: 24px;
						    height: 30px;
						    margin-top: 12px;
						}
					}
				}
			}
		}
		.content-4 {
			.text-content {
				margin-bottom: 40px;
			}
		}
	}

	.clients .img-content ul li .v-align-table .v-align-table-cell {
	    padding: 40px 0px 20px;
  	}
	.clients .img-content ul li {
		width: 100%;
		height: auto;
	}

	div#mailing-list-wrapper {
		div.left {
			padding-right: 33px;
		}
		div.middle {
			padding-left: 80px;
			ul {
				width: 135px;				
			}
			&:after {			
				display: none;
			}
		}
		div.right {
		    max-width: 346px;
			padding-left: 0px;
			padding-top: 35px;
		}
	}

	#page-wrapper #footer-wrapper {
		.tweet {
			float: none!important;
		}
		.sharing {
			float: none!important;
			margin-top: 10px; 
			ul {
				float: right;
			}
		}
	}
} 

@media all and (max-width: 768px) {
	#page-wrapper .slider-wrapper .arrow {
		bottom: 56%;
	}
	#page-wrapper .slider-wrapper div.item div.carousel-caption {
		width: 80%;
		top: 17%;
	}
	.home {
		.last-content {
			.each-office {
	   			margin-right: 25px;
	   			width: 40%;
			}
		}
	}
	.case-study {
		.content-1 {
			.img-content {
				.grid {
					.grid-item {
						// width: 100%;
					}
				}
			}
		}
		.content-2 {
			.img-content {			
				.grid-item {
					// width: 100%;
				}			
				.grid-item-2--width4 { 
					width: 100%;
				}
				.grid-item-2--width3 { 
					width: 100%;
				}
			}
		}
		.content-3 {
			ul {
				li {
					// margin-right: 0px;
				    margin-top: 40px;
				    width: 48%;

				    &:last-child {
				    	display: none;
				    }
				    .img-placeholder {
					    width: 100%;
				  	}
				  	.caption-text {
				  		padding-left: 0px;
						h6 {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}
	div#mailing-list-wrapper {
		div.left {
			display: block;
			&:after {			
				display: none;
			}
		}
		div.middle {
			display: block;
			padding-left: 0px;
			padding-top: 35px;
			ul {
				width: 135px;				
			}
			&:after {			
				display: none;
			}
		}
		div.right {
			display: block;
		    max-width: 346px;
			padding-left: 0px;
			padding-top: 35px;
			input[name="subscribe"] {
				width: 100%;
			}
		}
	}
}

@media all and (max-width: 540px) {
	.case-study {
		.content-3 {
			ul {
				li {
					margin-right: 0px;
				    margin-top: 40px;
				    width: 100%;
				}
			}
		}
	}
}

@media all and (max-width: 480px) {
	.case-study {
		.content-1 {
			.img-content {
				.grid {
					.grid-item {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
			}
		}
		.content-2 {
			.img-content {			
				.grid-item-2 {
					width: 100%;
				}			
			}
		}
		.content-3 {
			ul {
				li {
					margin-right: 0px;
				    margin-top: 40px;
				    width: 100%;
				}
			}
		}
	}
	#page-wrapper .slider-wrapper div.item div.carousel-caption {	
		top: 13%;
	}
	#page-wrapper .slider-wrapper .arrow {
		bottom: 40%;
	}	
}

@media all and (max-width: 400px) {
	#page-wrapper .slider-wrapper div.item div.carousel-caption {	
		top: 13%;
	}
	#page-wrapper .slider-wrapper .arrow {
		display: none!important;
	}	
}