@media all and (max-width: 1200px) {	
	.home {
		.each-content {
			.text-content {
				.v-align-table {
					.v-align-table-cell {
						vertical-align: top;
						padding-top: 20px;
					}
				}
			}
		}
	}
	.case-study {
		.content-1 {
			margin-top: 100px;
			.text-content {
				margin-right: 0px;
				margin-bottom: 50px;
				width: 35.8%;
				// width: 100%;
			}
			.img-content {
				// width: 100%;  
				// float: none;
				.grid {
					img {
						// width: 100%;
					}
				}
				// .grid {
				// 	.grid-item {
				// 		margin-right: 11px;
				// 		&:last-child {
				// 			margin-right: 0px;
				// 		}
				// 	}
				// }
			}
		}
		.content-2 {
			.img-content {
				.grid-sizer-2,
				.grid-item-2 {
					width: 320px;
				}
				.grid-item-2--width4 { 
					width: 99%;
				}
				.grid-item-2--width3 { 
					width: 65.7%;
				}
				/////////////////
				/////////////////	
				.gutter-sizer-3 {
					// width: 3px;
				}
				.grid-sizer-3 {
					width: 160px;
				}			
				.grid-item-3 {
					width: 318px;
					// margin-bottom: 10px;
				}				
				.grid-item-3--width4 { 
					width: 99%;
				}
				.grid-item-3--width3 { 
					width: 650px;
				}
				.grid-item-3--width2 { 
					width: 485px;
				}
			}
		}
		.content-3 {
			ul {
				li {
					// margin-right: 0px;
				    margin-top: 40px;
				    margin-right: 14px;
				    // width: 100%;			
				    .img-placeholder {
				    	height: auto;
				    }	    
				}
			}
		}
		.content-4 {
			.text-content {
				margin-bottom: 40px;
			}
		}
	}
	div#mailing-list-wrapper {
		div.left {
			padding-right: 33px;
		}
		div.middle {
			padding-left: 28px;
			ul {
				width: 135px;
			}
		}
		div.right {
		    max-width: 346px;
			padding-left: 30px;
		}
	}
}