@media all and (max-width: 768px) {
	#page-wrapper .slider-wrapper .arrow {
		bottom: 54%;
	}
	#page-wrapper .slider-wrapper div.item div.carousel-caption {
		width: 80%;
		top: 17%;
	}
	.home {
		.last-content {
			.each-office {
	   			margin-right: 25px;
	   			width: 40%;
			}
		}
	}
	.case-study {
		.content-1 {
			.img-content {
				.grid {
					.grid-item {
						// width: 100%;
					}
				}
			}
		}
		.content-2 {
			.img-content {			
				.grid-item {
					// width: 100%;
				}			
				.grid-item-2--width4 { 
					width: 100%;
				}
				.grid-item-2--width3 { 
					width: 100%;
				}
				/////////////////
				/////////////////	
				.grid-sizer-3 {
					width: 353px;
				}			
				.grid-item-3 {
					width: 348px;
					img {
						width: 100%;
					}
				}				
				.grid-item-3--width4 { 
					width: 99%;
				}
				.grid-item-3--width3 { 
					width: 99%;
				}
				.grid-item-3--width2 { 
					width: 99%;
					img {
						width: 100%;
					}
				}		
			}
		}
		.content-3 {
			ul {
				li {
					// margin-right: 0px;
				    margin-top: 40px;
				    width: 48%;

				    &:last-child {
				    	display: none;
				    }
				    .img-placeholder {
					    width: 100%;
					    img {
					    	width: 100%;
					    }
				  	}
				  	.caption-text {
				  		padding-left: 0px;
						h6 {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}
	div#mailing-list-wrapper {
		position: relative;
		// padding-bottom: 90px;
		div.left {		
			// float: right;
			// margin-top: 20px;
			// padding-right: 100px;
			&:after {			
				display: none;
			}
		}
		div.middle {
			display: inline-block;
			padding-left: 0px;
			padding-top: 0px;
			float: left;
			ul {
				width: 135px;	
				// width: 32%;
    			vertical-align: top;			
			}
			&:after {			
				display: none;
			}
		}
		div.right {
			display: inline-block;
			float: right;
		    max-width: 346px;
			padding-left: 0px;
			padding-top: 0px;
			input[name="subscribe"] {
				width: 100%;
			}
		}
	}
}
@media all and (max-width: 755px) {
	.case-study {
		.content-2 {
			.img-content {		
				.grid-sizer-3 {
					width: 100%;
				}			
				.grid-item-3 {
					width: 100%;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
@media all and (max-width: 715px) {
	div#mailing-list-wrapper {
		div.each-column {
			width: 100%;
		    padding: 0;
		    float: none;
		    margin-top: 0px;
		    // margin-bottom: 20px;
		}
		div.middle {
			ul {
				width: 32%;
			}
		}
	}
}	